.cart__node {
	border: 3px solid green;

	display: flex;
	position: fixed;
	width: 100%;
	z-index: 1000;

	align-items: center;
	.left__div {
		border: 3px solid blue;
		opacity: 0.5;

		width: 75%;
		height: 100vh;
		background: black;
	}
	.right__div {
		background-color: white;
		height: 100vh;
	}
	.cart {
		display: flex;
		flex-direction: column;
		max-height: 300px;
		overflow-y: auto;
	}

	.cart__container {
		width: 365px;
		border-bottom: 1px solid;
		display: flex;
		justify-content: start;
		align-items: center;
		h1 {
			font-size: 10px;
			margin-right: 25%;
		}
		img {
			margin: 10px;
			width: 50px;
			border-radius: 5px;
		}
		// ...
	}

	.cart__count {
		display: flex;
		flex-direction: column;
		margin: 25px;
	}

	.cart__btns {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 8px;
	}
	h2 {
		font-size: 18px;
		font-weight: 400;
		margin: 5px;
		span{
		margin: 2px;
		}
	}
	&__baner {
		display: flex;
		justify-content: center;
		align-items: center;
		background: fuchsia;
		width: 90%;
		height: 50px;
		border-radius: 5px;
	}
}
