.cart__node {

	display: flex; 
	position: fixed;
	width: 100%;
	z-index: 1000;
	align-items: center;
	.left__div {
		opacity: 0.5;
		width: 75%;
		height: 100vh;
		background: black;
	}
	.right__div {
		
		margin-right: 0;
		background-color: white;
		height: 100vh;
		width: 25%;
		.cart__title{
			font-size:24px ;
			font-weight: 600;
			margin: 20px 10px;
		}
	}
	.cart {
		display: flex;
		flex-direction: column;
		max-height: 300px;
		overflow-y: auto;
		overflow-x: hidden;
margin-bottom: 50px;
	}

	.cart__container {
		width: 365px;
		border-bottom: 1px solid;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.cart__img {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		h1 {
			width: 150px;
			font-weight: 400;
		font-size: 13px;
		line-height: 110%;
		color: #555;
		}
		img {
			margin: 10px;
			width: 50px;
			border-radius: 5px;
		}
		// ...
	}

	.cart__count {
		display: flex;
		flex-direction: column;
		margin: 25px;
	}

	.cart__btns {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		margin: 5px 0;
		.cart__btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			border: none;
		}
		.cart__btn:active {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			background: fuchsia;
			border-radius: 5px;
		}
	}
	h2 {
		font-weight: 400;
		font-size: 14px;
		line-height: 110%;
		color: #555;
		margin: 15px;
		span{
		margin: 2px;
		}
	}
	.cart__summary{
		margin: 40px 0 0 0;
		.discount{
			color: green;
		}
	}
	.cart__banner {
		display: flex;
		justify-content: center;
		align-items: center;
		background: fuchsia;
		width: 100%;
		height: 50px;
		border-radius: 5px;
	}
}
