/** @format */

.header__content__menu {
	width: calc(100% - 10px);
	height: 100vh;
	position: fixed;
	top: 50%;
	right: -100%;
	transform: translateY(-50%);
	transition: right 0.3s ease-in-out;
	font-size: 24px;
	color: #000;
	z-index: 50;
	white-space: nowrap;
	padding-left: 13%;

	.row {
		width: 100%;
	}
	&_gray {
		position: absolute;
		left: -10px;
		width: 15%;
		opacity: 0.5;
		height: 100%;
		background-color: black;
		z-index: 60;
	}

	&__logo {
		height: 160px;
		background-color: #490f56;
		position: relative;

		img {
			position: absolute;
			left: 40px;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
			width: 7rem;
			height: 7rem;
			object-fit: cover;
		}
	}

	nav {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding-top: 30px;
		background-color: white;
		height: 100vh;

		hr {
			width: 100%;
		}

		i {
			font-size: 24px;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		gap: 20px;
		color: black;
		margin-left: 10%;

		a {
			font-size: medium;
			text-decoration: none;
			color: inherit;
			transition: color 0.9s ease;

			&:hover {
				color: #490f56;
			}
		}
	}
}

.header__content__menu.active {
	right: 0;
}
