/** @format */

.reviews {
	display: grid;
	place-items: center;

	h2 {
		margin: 50px 0;
		text-align: start;
	}
	&__wrap {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 70%;

		gap: 20px;
	}

	&__content {
		transition: 0.3s ease-in-out;
		border-radius: 5px;
		padding: 20px;
		background-color: white;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);

		h4 {
			color: orange;
			margin: 10px 0;
		}
	}


	&__content:hover {
		transform: scale(1.01) translateX(-10px) translateY(-10px);
		
	}
}


@media screen  and (max-width: 900px) {
	.reviews {
		&__wrap {
			width: 90%;
			grid-template-columns: repeat(1, 1fr);
		}
	}
	
}
