/** @format */

.cardModal {
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;

	.card__wrap {
		border-radius: 5px;
		position: relative;
		background-color: white;
		display: flex;
		width: 50%;
		height: 585px;

		.card__close {
			position: absolute;
			top: 20px;
			right: 20px;
			background-color: transparent;
			border: none;
			cursor: pointer;
		}
		.card__img {
			padding: 20px;
			img {
				border-radius: 3px;
				width: 100%;
				object-fit: cover;
			}
		}

		.card__info {
			width: 50%;
			padding: 20px;

			.card__title {
				margin-bottom: 20px;
			}

			.card__price {
				display: flex;
				align-items: center;
				gap: 5px;
				color: #f47815;

				P {
					color: #f47815;
					font-size: 18px;
				}
			}

			.card__description {
				margin: 30px 0;
				span {
					font-size: 22px;
					color: black;
					font-weight: 700;
					font-style: bold;
				}
			}
			div {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 10px 0;
				border-bottom: 1px solid gray;

				h4 {
					color: #f47815;
					font-weight: 500;
				}
			}

			.product_change {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 10px 0;
				width: 150px;

				.minus_hide {
					display: block;
					border-radius: 5px;
					color: #000;
					height: 35px;
					width: 35px;
					text-align: center;
					line-height: 35px;
				}

				button {
					border: none;
					background: none;
					font-size: 24px;
				}
				button:active {
					background-color: purple;
				}

				.minus {
					width: 35px;
					opacity: 0.3;
					height: 35px;
				}

				.plus {
					display: block;
					border-radius: 5px;
					color: #000;
					height: 35px;
					width: 35px;
					text-align: center;
					line-height: 35px;
				}
			}
		}
	}
}
