/** @format */

.address {
	display: grid;
	place-items: center;
	padding: 5%;
	background: white;
	width: 70%;
	margin: 0 auto;

	.address__info {
		margin: 70px 0 0 0;
		width: 80%;


		.address__rules__wrapper {
			margin-top: 40px;

			display: flex;
			justify-content: space-between;
			gap: 0 5%;
			align-items: start;

			.address__rules__left {
				display: flex;
				flex-direction: column;
				gap: 10px 0;
			}
			.address__rules__right {
				display: flex;
				flex-direction: column;
				gap: 10px 0;
				

				a{
					color: blue;
				}
			}

		}
	}
}
