/** @format */

.address {
	display: grid;
	place-items: center;
	padding: 5%;
	background: white;
	width: 90%;
	margin: 0 auto;

	.address__info {
		margin: 70px 0 0 0;
		width: 80%;


		.address__rules__wrapper {
			margin-top: 40px;
			display: flex;
			justify-content: space-between;
			align-items: start;

			.address__rules__left {
				display: flex;
				flex-direction: column;
				gap: 10px 0;
			}
			.address__rules__right {
				display: flex;
				flex-direction: column;
				gap: 10px 0;
				

				a{
					color: blue;
				}
			}

		}
	}
}

@media screen and (max-width: 900px) {
	.address{
		width: 100%;


		.address__rules__wrapper{
			display: flex;
			flex-wrap: wrap;
			gap: 40px;
			align-items: center;
			justify-content: center;
		}
	}
}
