/** @format */

#root {
	max-width: 1920px;
	padding: 0 auto;
	font-family: 'Roboto'  sans-serif; 
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in element's total width */
}

body {
  font-family: Arial, sans-serif; /* Sets a default font family for the entire document */
}

ul, ol {
  list-style: none; /* Removes default list styles */
}

a {
  text-decoration: none; /* Removes default underline from links */
  color: inherit; /* Inherits color from parent element */
}

button, input, textarea, select {
  font-family: inherit; /* Inherits font family from parent element */
}

