/** @format */
html{
	scroll-behavior: auto;
	scroll-padding-top: 300px ;
}
@media screen and (max-width: 1000px) {
	#header {
		background: #490f56;

		height: 80px;
		.header {
			display: flex;
			align-items: center;
		}

		.header__div {
			display: flex;
			align-items: center;
			gap: 0 40px;

			.header__logo {
				img {
					width: 70px;
					height: 70px;
					border-radius: 100px;
					object-fit: cover;
					position: absolute;
					left: 20px;
					top: 0;
				}
			}
			.header__title {
				display: none;
				.header__title__tel {
					display: none;
				}
				.header__nav {
					a {
						display: none;
					}
				}
			}
		}

		.header__blog {
			width: 100%;
			.header__contact {
				display: none;
			}

			.header__auth {
				.header__logIn {
					display: flex;
					justify-content: flex-end;
					padding-top: 20px;
					padding-right: 25%;
					button {
						border-radius: 5px;
						color: white;
						font-weight: 600;
						padding: 5px 20px;
						background: none;
						border: 2px solid aqua;
						transition: 0.4s ease-in-out;
						cursor: pointer;
					}

					button:hover {
						color: black;
						background-color: aqua;
					}
				}
				.header__cart {
					display: none;
				}
			}
			.header__burger__menu {
				position: absolute;
				right: 10px;
				z-index: 1000;
				top: 30px;
			}
		}
	}
}

@media screen and (min-width: 1000px) {
	#header {
		transition: .3s ease-in-out;
		background-color: #490f56;
		width: 100%;
		position: sticky;
		top: 0;
		z-index: 100;


		.header--shrunk {
			height: 50px;
		}
		.header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;

			.header__div {
				display: flex;
				align-items: center;
				width: 80%;
				justify-content: space-around;
				color: white;
				.header__logo {
					img {
						width: 100px;
						height: 100px;
						border-radius: 100px;
						object-fit: cover;
						transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
					}
				}

				.header__title {
					display: flex;
					flex-direction: column;
					gap: 10px 0;
					margin-left: 200px;

					.header__title__tel {
						h1 {
							font-size: clamp(12px, 2vw, 24px);
						}
					}

					.header__title__tel--shrunk {
						display: none;
					}

					.header__nav {
						display: flex;
						justify-content: space-between;
						gap: 0 20px;

						a {
							transition: 0.3s ease-in-out;
							cursor: pointer;
							font-size: clamp(12px, 1.5vw, 18px);
						}
						a:hover {
							color: yellow;
						}
					}
				}
			}

			.header__blog {
				width: 30%;
				.header__contact {
					margin: 0 0 20px 30%;
					color: white;
				}


				.header__contact--shrunk {
					display: none;
				}


				.header__auth {
					display: flex;
					padding-right: 30px;

					button {
						height: 40px;
						padding: 5px 20px;
						background: none;
						display: flex;
						gap: 0 10px;
						align-items: center;
						justify-content: space-around;
						font-size: 18px;
						border: none;
						transition: 0.3s ease-in-out;
						cursor: pointer;
						color: white;
					}

					button:hover {
						background: #ffe271;
					}
					.header__logIn {
					}

					.header__cart {
						button {
						}

						.cart__info {
							display: flex;
							flex-direction: column;
							gap: 5px 0;
							align-items: flex-start;
						}
					}
				}

				.header__burger__menu {
					display: none;
				}
			}
		}
	}
}
@media screen and (min-width: 1900px) {
	#header {
		background-color: #490f56;
		height: 100px;
		.header {
			display: flex;
			align-items: center;

			.header__div {
				display: flex;
				align-items: center;
				width: 80%;
				color: white;
				.header__logo {
					margin-left: 0;
					img {
						width: 100px;
						height: 100px;
						border-radius: 100px;
						object-fit: cover;
					}
				}

				.header__title {
					margin-left: 0;
					display: flex;
					flex-direction: column;
					gap: 10px 0;

					.header__title__tel {
						margin-left: 0;
						h1 {
							font-size: clamp(12px, 2vw, 24px);
						}
					}

					.header__nav {
						display: flex;
						justify-content: space-between;
						gap: 0 20px;

						a {
							transition: 0.3s ease-in-out;
							cursor: pointer;
							font-size: clamp(12px, 1.5vw, 18px);
						}
						a:hover {
							color: yellow;
						}
					}
				}
			}

			.header__blog {
				width: 30%;
				.header__contact {
					margin: 0 0 20px 30%;
					color: white;
				}

				.header__auth {
					display: flex;
					padding-right: 30px;

					button {
						width: 100%;
						padding: 5px 20px;
						background: none;
						display: flex;
						font-size: 18px;
						border: none;
						transition: 0.3s ease-in-out;
						cursor: pointer;
						color: white;
					}

					button:hover {
						background: #ffe271;
					}
					.header__logIn {
						width: 50%;
					}

					.header__cart {
						width: 50%;
					}
				}

				.header__burger__menu {
					display: none;
				}
			}
		}
	}
}

