/** @format */

@media screen and (max-width: 1000px) {
	#header {
		background: #490f56;

		height: 80px;
		.header {
			display: flex;
			align-items: center;
		}

		.header__div {
			display: flex;
			align-items: center;
			gap: 0 40px;

			.header__logo {
				img {
					width: 70px;
					height: 70px;
					border-radius: 100px;
					object-fit: cover;
					position: absolute;
					left: 20px;
					top: 0;
				}
			}
			.header__title {
				display: none;
				.header__title__tel {
					display: none;
				}
				.header__nav {
					a {
						display: none;
					}
				}
			}
		}

		.header__blog {
			width: 100%;
			.header__contact {
				display: none;
			}

			.header__auth {
				.header__logIn {
					display: flex;
					justify-content: flex-end;
					padding-top: 20px;
					padding-right: 25%;
					button {
						display: flex;
						align-items: center;
						gap: 0 10px;
						background: none;
						border-radius: 5px;
						width: 150px;
						color: white;
						font-size: large;
						font-weight: 600;
						padding: 10px 20px;
						border: 1px solid wheat;
						cursor: pointer;

						p {
							color: white;
							font-size: large;
							font-weight: 600;
						}
					}
				}
				.header__cart {
					display: none;
				}
			}
			.header__burger__menu {
				position: absolute;
				right: 10px;
				z-index: 1000;
				top: 30px;
			}
		}
	}
}

@media screen and (min-width: 1000px) {
	#header {
		transition: 0.3s ease-in-out;
		background-color: #490f56;
		width: 100%;
		position: sticky;
		top: 0;
		z-index: 100;

		.header--shrunk {
			height: 50px;
		}
		.header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;

			.header__div {
				display: flex;
				align-items: center;
				width: 80%;
				justify-content: space-around;
				color: white;
				.header__logo {
					img {
						width: 100px;
						height: 100px;
						border-radius: 100px;
						object-fit: cover;
						transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
					}
				}

				.header__title {
					display: flex;
					flex-direction: column;
					gap: 10px 0;

					.header__title__tel {
						h1 {
							font-size: clamp(12px, 2vw, 24px);
						}

						transition: margin 5s ease-in-out;
					}

					.header__title__tel--shrunk {
						display: none;
					}

					.header__nav {
						display: flex;
						justify-content: space-between;
						gap: 0 20px;
						font-size: clamp(10px, 2vw, 18px);
						a {
							transition: 0.3s ease-in-out;
							cursor: pointer;
						}
						a:hover {
							color: yellow;
						}
					}
				}
			}

			.header__blog {
				padding: 0 0 5px 0;

				width: 30%;
				.header__contact {
					margin: 0 0 20px 30%;
					color: white;
					opacity: 1; /* Initially fully visible */
					transition: margin 5s ease-in-out; /* Transition opacity property */
				}

				.header__contact--shrunk {
					display: none;
				}

				.header__auth {
					display: flex;
					justify-content: space-around;
					button {
						width: 100%;
						padding: 5px 20px;
						height: 46px;
						border: none;
						background: none;
						display: flex;
						align-items: center;
						justify-content: space-around;
						gap: 0 10px;
						font-size: 28px;
						transition: 0.3s ease-in-out;
						cursor: pointer;
						p {
							color: white;
							font-size: large;
						}

						.header__logIn__icon {
							color: #fff;
						}
					}

					button:hover {
						background: #ffe271;

						p {
							color: black;
						}
					}
					.header__logIn {
						width: 100%;
					}

					.header__cart {
						width: 100%;
						.cart__pending {
							width: 50%;
						}

						.header__cart__icon {
							margin-left: 0 auto;
							color: white;
						}

						.cart__info {
							display: flex;
							flex-direction: column;
							gap: 5px 0;
							align-items: flex-start;
						}
					}
				}

				.header__burger__menu {
					display: none;
				}
			}
		}
	}
}
