#footer{
	background: gray;
	height: 316px;
	.container{
	
		.footer{

		&__text{
				.text{
					border-radius: 10px;
				}
			}
			h1{
font-weight: 300;
font-size: 14px;
line-height: 150%;
color: #eeebeb;&__imput{
				&__subscribe{
					border-radius: 10px;
				}
			}
			}
			&__logo{
				margin: 20px;
				img{
					margin: 20px;
					height: 100px;
					width: 100px;
					border-radius: 50%;
object-fit: cover;
				
				}
				
			}
			
		}
	}
}