a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
* {
	margin: 0 auto;
	padding: 0;
}
body {
	margin: 0 auto;
	padding: 0;
}
.container {
	max-width: 1460px;
	margin: 0 auto;
}
p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 110%;
	color: #555;
}
