/** @format */

@media screen and (min-width: 1000px) {
	.menu {
		display: flex;

		.left__menu {
			border: 10px solid black;
			height: 100vh;
			background-color: red;
			position: relative;
			width: 300px;

			.categories__wrap {
				position: absolute;
				top: 170px;
				left: 50px;
				width: 200px;
				transition: top 0.3s ease-in-out;
			}
			.fixed-menu {
				position: fixed;
				top: 130px;
				left: 50px;
				transition: top 0.3s ease-in-out;
			}

			.menu__head {
				padding: 15px 20px;
				width: 178px;
				height: 60px;
			}

			&__category {
				border-top: 1px solid #eee;
				padding: 6px 20px 5px 20px;
				height: 35px;

				.name {
				}
			}
		}

		.products__content {
			.products__item {
				.category__head {
				}

				.products {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 10px;

					.product__item__wrap {
						border: 2px solid wheat;
						border-radius: 7px;
						width: 306px;
						height: 436px;
						padding: 25px 0;

						.product__content {
							.product__img__container {
								img {
									border-radius: 10px;
								}
							}
							.product__name {
								margin-top: 15px;
								display: flex;
								justify-content: space-between;
								align-items: center;

								.name {
									// Add styling for product names
								}
								.weight {
									// Add styling for product weights
								}
							}
							hr {
								width: 260px;
								margin-top: 20px;
							}
							.product__bottom {
								display: flex;
								justify-content: space-between;
								gap: 0 90px;
								margin: 20px 0;

								.product__price {
								}
								.product_change {
									.minus_hide {
									}
									.count {
									}
									.plus {
									}
								}
							}
							.product__description {
								width: 276px;
								padding: 0 25px;

								p {
									text-align: left;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.menu {
		.left__menu {
			border: 3px solid red;
			display: flex;
			align-items: center;
			gap: 0 10%;
			.categories__wrap {
				display: flex;
				position: fixed;
				top: 100px;
				background-color: white;
				width: 100%;

				.menu__head {
					display: none;
				}

				.left__menu__category {
					border-top: 1px solid #eee;
					padding: 6px 20px 5px 20px;
					height: 35px;

					.name {
						border: none;
						background: none;
					}
				}
			}
		}
		.products__content {
			.products__item {
				.category__head {
					margin: 20px 0;
				}
				.products {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					gap: 10px 0;
					.product__item__wrap {
						background-color: #fff;
						.product__content {
							border-left: 10px solid white;
							display: flex;
							align-items: center;
							.product__img__container {
								margin-left: 0;
								img {
									width: 80px;
									height: 80px;
								}
							}

							.product__info {
								padding-left: 20px;
								width: 100%;
							}
							.product__name {
								display: flex;
								justify-content: space-between;
								align-items: center;
								margin-bottom: 15px;
								padding-right: 20px;

								.name {
									font-size: 18px;
								}
								.weight {
									font-size: 14px;
									opacity: 0.7;
								}
							}

							hr {
								display: none;
							}

							.product__bottom {
								display: flex;
								justify-content: space-between;
								align-items: center;
								.product__price {
									font-weight: 600;
								}

								.product_change {
									padding: 0 20px 0 0;
									display: flex;
									align-items: center;
									gap: 0 10px;

									.minus_hide {
										display: block;
										border-radius: 5px;
										background-color: #dcdcdc;
										color: #000;
										height: 35px;
										width: 35px;
										text-align: center;
										line-height: 35px;
									}

									button {
										border: none;
									}

									.minus {
										display: none;
									}

									.plus {
										display: block;
										border-radius: 5px;
										background-color: #dcdcdc;
										color: #000;
										height: 35px;
										width: 35px;
										text-align: center;
										line-height: 35px;
									}
								}
							}

							.product__description {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1900px) {
	.menu {
		.left__menu {
			border: 3px solid red;
			display: flex;
			align-items: center;
			gap: 0 10%;
			.categories__wrap {
				display: flex;
				flex-direction: column;
				position: fixed;
				top: 100px;
				background-color: white;
				width: 15%;

				.menu__head {
				}

				.left__menu__category {
					border-top: 1px solid #eee;
					padding: 6px 20px 5px 20px;
					height: 35px;

					.name {
						border: none;
						background: none;
					}
				}
			}
		}
		.products__content {
			.products__item {
				.category__head {
					margin: 20px 0;
				}
				.products {
					display: flex;
					gap: 10px;
					margin: 0 20px;
					.product__item__wrap {
						background-color: #fff;
						height: 500px;
						.product__content {
							border-left: 10px solid white;
							display: flex;
							align-items: center;
							flex-direction: column;
							.product__img__container {
								margin-left: 0;
								img {
									width: 276px;
									height: 276px;
								}
							}

							.product__info {
								padding-left: 20px;
								width: 100%;
							}
							.product__name {
								display: flex;
								justify-content: space-between;
								align-items: center;
								margin-bottom: 15px;
								padding-right: 20px;

								.name {
									font-size: 18px;
								}
								.weight {
									font-size: 14px;
									opacity: 0.7;
								}
							}

							hr {
								display: none;
							}

							.product__bottom {
								display: flex;
								justify-content: space-between;
								align-items: center;
								.product__price {
									font-weight: 600;
								}

								.product_change {
									padding: 0 20px 0 0;
									display: flex;
									align-items: center;
									gap: 0 10px;

									.minus_hide {
										display: block;
										border-radius: 5px;
										background-color: #dcdcdc;
										color: #000;
										height: 35px;
										width: 35px;
										text-align: center;
										line-height: 35px;
									}

									button {
										border: none;
									}

									.minus {
										display: none;
									}

									.plus {
										display: block;
										border-radius: 5px;
										background-color: #dcdcdc;
										color: #000;
										height: 35px;
										width: 35px;
										text-align: center;
										line-height: 35px;
									}
								}
							}

							.product__description {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
